@model TicketHive.Models.Concert

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit a Concert</h1>

<hr />
<div class="row">

    <div class="col-md-4">
        <div class="mb-3">
            <img src="/concert-photos/@Model.Filename" alt="@Model.Title" class="img-fluid" />
        </div>
        <form asp-action="Edit" enctype="multipart/form-data">
        
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ConcertId" />
            <div class="mb-3">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            

            <!-- File input! -->
            <div class="mb-3">
                <label class="control-label">Change Photo</label>
                <input type="file" asp-for="FormFile" class="form-control" />
                <span asp-validation-for="FormFile" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ConcertTime" class="control-label"></label>
                <input asp-for="ConcertTime" class="form-control" />
                <span asp-validation-for="ConcertTime" class="text-danger"></span>
            </div>
            
            <div class="mb-3">
                <label asp-for="OwnerId" class="control-label"></label>
                <select asp-for="OwnerId" class="form-control" asp-items="ViewBag.OwnerId"></select>
                <span asp-validation-for="OwnerId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home"  asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
