

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

body {
    background-color: #FCF52D; /* Soft yellow tint */
}

.container {
    background-color: #fffbe6; /* Lighter yellow tint for contrast */
/*    border-radius: 8px;*/
/*    padding: 24px;*/
}

h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, Helvetica, sans-serif;
    font-weight: 700;
}

footer .container {
    background: transparent !important;
}

.navbar-brand {
    font-family: 'Trebuchet MS', 'Segoe UI', Arial, sans-serif;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 1px;
}

.navbar-nav {
    font-family: 'Trebuchet MS', 'Segoe UI', Arial, sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 0.5px;
}

.thumbnail {
    max-width:70px; 
    max-height: 70px;
    width: auto;
    height: auto;
    object-fit: contain; /* Keeps aspect ratio, fits within box */
    border-radius: 8px; /* rounded corners */
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/resize */

.resizable-container {
    width: 400px; /* starting size */
    border: 1px solid #ccc;
    display: inline-block;
    resize: both;
    overflow: hidden;
    position: relative;
}

    .resizable-container img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
    }

.resize-handle {
    position: absolute;
    width: 15px;
    height: 15px;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.2);
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
    pointer-events: none; /* so it doesn’t block dragging */
}